/*
* Shortcodes CSS

background-color: #144F80;

* --------------------------------------------------
*/
.predypresdenie div.box-cta-thin .mytitle {	
	font-size: 22px;
	text-align: left;
	line-height: 1.15;
}
.predypresdenie .box-minimal-icon {
	top: 0;
	font-size: 8em;
	color: #edeff1;
}

.bs-example{
  margin: 0 0 20px;
}

.panel-group{
  border: 1px solid #eee;
}
.panel-default{
    border: 0;
	border-left: 4px solid #8394b2;
	margin-bottom: 10px;
}

.panel-group .panel{
  border-radius: 0;
}

.panel-group .panel+.panel{
  margin-top: 0;
}

.panel-group .panel-default:first-child>.panel-heading{
  border-top: 0;
	background: #edeff1;
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	/* border-top-left-radius: 3px; */
	/* border-top-right-radius: 3px; */
}

.panel-default>.panel-heading+.panel-collapse .panel-body{
  border-top-color: #eee;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #4FCCCD;
}
.nav-pills>li>a:hover.trans-notactive, .nav-pills>li>a:focus.trans-notactive {
	text-decoration: none;
	background-color: #eee;
}
.nav li .trans-btn {
    padding-top: 2px;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 3px;
    background-color: transparent;
    border: 1px solid transparent !important;
    border: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
}

.tab-content {
  padding-top: 20px;
}

/*Features*/
.feature-inner{
  text-align: center;
}
.fa-wrapper{
  display: inline-block;
  background-color: #4FCCCD;
  color: #fff;
  padding: 25px;
  box-shadow: 0 0 0 5px rgba(0,0,0,.1) inset;
  -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.1) inset;
  border-radius: 100%;
  margin: 10px 0;
}


/* Выделения в тексте */
.text-strike {
	text-decoration: line-through;
}
.text-underline {
	text-decoration: underline;
}



/* Список галочкой каждой строчки */
.list-marked{
	text-align:left
}
 ul.list-marked{
	padding-left:1px
	margin-left:1px
}
.list-marked > li{
	position:relative;
	padding-left:15px
}
.list-marked > li::before {
	font-family: "FontAwesome";
	content: '\f105';
	position: absolute;
	display: inline-block;
	left: 0;
	top: 2px;
	min-width: 25px;
	line-height: 23px;
	font-size: 15px;
	letter-spacing: -.03em;
	color: #3664a1;
}
.list-marked > li + li{
	margin-top:4px
}
*+.list-marked{
	margin-top:15px
}
p+.list-marked{
	margin-top:10px
}

/* Список нумерацией каждой строчки */
#spisok_p li {
	position: relative;
	padding-left: 20px;
	margin: 30px 0 0;
	font-weight: bold;
}
.list-ordered{
	counter-reset:li;
	text-align:left
}
.list-ordered > li{
	position:relative;
	padding-left:20px
}
.list-ordered > li:before{
	content:counter(li,decimal) ".";
	counter-increment:li;
	position:absolute;top:0;
	left:0;display:inline-block;
	width:15px;
	color:#151515
}
.list-ordered>li+li{
	margin-top:4px
}   
*+.list-ordered{margin-top:15px}


.wrap-fluid{max-width:1920px;margin-left:auto;margin-right:auto}@media(min-width:992px){.p-wrap{max-width:600px}}
.icon-sprite{background-image:url(../images/spritesheet.png);background-repeat:no-repeat;display:inline-block}
.icon-sprite+h5{margin-top:20px}


.sprite-home-icon-01{width:57px;height:64px;background-position:0 0}
.sprite-home-icon-02{width:54px;height:60px;background-position:-66px 0}
.sprite-home-icon-03{width:43px;height:67px;background-position:-128px 0}
.sprite-home-icon-04{width:62px;height:54px;background-position:-1px -76px}
.sprite-home-icon-05{width:62px;height:56px;background-position:-66px -76px}



/** иконки от шрифта FontAwesome **/
.fa-gears::before, .fa-cogs::before {
	color: #e18622;
}
.fa-check::before {
	/* галочка */
	content: '\f046';
	color: #ef5829;
}
.fa-info-sign::before {
	/* информация; */
	content: '\f05a';
	color: #7dbf26;
}
.fa-camera::before {
	/* информация; */
	content: '\f030';
	color: #2e6da4;
}
.fa-question-sign::before {
	/* вопрос; */
	content: '\f059';
	color: #04a49c;
}


/*****************************
Blog with right sidebar
*****************************/

.single-blog {
  padding-bottom: 30px;
}

.single-blog .post-bottom {
  border-bottom: 1px solid #eeeeee;
  padding-top: 10px;
  padding-bottom: 10px;
}

.single-blog .post-overlay span{
  left: 0;
  top: 0;
  margin-left: 0;
  width: 94px;
  height: 140px;
  background: url(../images/blog/blog-arrow.png);
  -webkit-animation: fadeInLeft 400ms;
  animation: fadeInLeft 400ms;
}

.single-blog .post-overlay span a{
  margin-left: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 18px;
  position: absolute;
  top: 50px;
}

.single-blog .post-overlay span a small{
  font-size: 16px;
  font-weight: 300;
  margin-left: 5px;
}

.single-blog .post-overlay span:before{
  border-color: transparent;
  border-width: 0;
}

.post-nav{
  margin:0;
  padding: 0;
}

.post-nav li a{
  color: #0099AE;
  padding: 0;
  text-align: left;
}

.post-nav li a i{
  color: #0099AE;
  margin-right: 8px;
}

.post-nav li a:hover{
  background: none;
}

.blog-padding-right{
  padding-right:35px;
}

.blog-pagination {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 55px;
}

  /* Blog */
  .post-comment {
    padding-left: 0;
  }

  .post-comment .pull-left img {
    margin-right: 20px;
  }

  .parrent .post-comment {
    margin-left: 0;
  }

  .parrent .media-list {
    margin-left: 150px;
  }

  .single-blog.two-column .post-overlay{
    margin-top: 0;
  }
/**** Portfolio with right sidebar****/


/* ticket meta toggle */
.ticket-meta-toggle {
	background: url("images/plus.png") no-repeat center center;
	display: none;
	height: 24px;
	margin-right: 5px;
	text-decoration: none !important;
	vertical-align: top;
	width: 24px;
}

.ticket-meta-toggle.detail-show {
	background: url("images/minus.png") no-repeat center center;
}

.ticket-list {
	margin: 0;
	padding: 0;
}

.ticket-list .ticket {
	margin: 0;
	padding: 13px 13px 10px;
	background: #FFF;
	border-bottom: 1px solid #CCC;
	overflow: hidden;
}

.ticket-list .entry {
	background: none;
}

.ticket-list .show-all,
.ticket-list .no-results {
	border: 0;
}

.show-all,
.no-results {
	color: #d8c49a;
	font-weight: 700;
}

.ticket-list .ticket.alt,
.ticket-list .even {
	background: none;
}

.ticket-list .ticket-gravatar {
	width: 45px;
	float: left;
}

.ticket-list .ticket-info {
	margin: -3px 0 0 45px;
	padding: 3px 0;
}

.ticket-list .marked-resolved {
	padding: 10px 15px;
}

.ticket-status {
	padding: 5px 15px 4px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	min-width: 50px;
	display: inline-block;
	text-align: center;
	line-height: normal;
}

.ticket-status:hover {
	opacity: 0.6;
	text-decoration: none;
}

.ticket-author {
	margin: 6px 0 0;
	float: right;
	color: #c6c6c5;
	font-size: .92em;
}

.ticket-author a {
	color: #a0a0a0;
}

.ticket-title {
	margin: 0 0 0 10px;
	padding: 0;
	display: inline;
	font-size: 1.16em;
	font-weight: 700;
}

.ticket-meta {
	margin: 12px 0 0;
	padding: 10px 15px 0;
	border-top: 1px solid #eaeae9;
	overflow: hidden;
	clear: both;
	color: #333;
	font-size: .92em;
	list-style: none;
}

.ticket-meta a {
	color: #333;
}

.ticket-meta small {
	display: block;
	color: #999;
	font-weight: 700;
	font-size: 10px;
	margin-bottom: 3px;
}

.ticket-meta li {
	margin: 0 15px 0 0;
	padding: 0 15px 0 0;
	border-right: 1px solid #eeeeed;
	float: left;
	margin-bottom: 10px;
}

.ticket-meta li.tags{
	max-width: 50px;
	overflow: hidden;
}

.ticket-meta.single {
	margin: 12px 0 0;
	padding: 10px 15px;
	border-width: 1px 0;
}

.ticket:hover .ticket-meta,
.ticket:hover .update-list,
.single-ticket .ticket-meta,
.single-ticket .update-list {
	opacity: 1;
}


