.collapse-container > div{
	display: none;
}
.Ñontent-accordion {
	border-bottom: 1px solid #eee;
}

.arrow-r {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #444;
	margin-right: 7px;
	margin-left: 3px;
	display: inline-block;
}

.arrow-d {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #444;
	margin-bottom: 6px;
	margin-right: 5px;
	display: inline-block;
}

.collapse-container>:nth-child(odd) {
	padding: 10px;
	background-color: transparent;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
    margin: auto;
}

.collapse-container>:nth-child(even) {
	background-color: white;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid black;
	border: 1px dotted #aaa;
}


.collapse-container>:nth-child(even) p {
    padding: 0px 5px;;
}

.collapse-container>:nth-child(odd):hover {
	cursor: pointer;
	-moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
	background-color: #ececec;
}
